---
import Layout from '../layouts/Layout.astro';
const posts = (await Astro.glob('./data/*.{md,mdx}')).sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
posts.map((post) => console.log(post.url))
import info from '../../node_modules/bootstrap-icons/icons/info-circle.svg'
import '../../node_modules/bootstrap/dist/css/bootstrap.css'
---

<Layout title="RyanAfterDark - Blog">
    <h1 class="mainHeader">RyanAfterDark <p class="gradientText p-1">Blog</p></h1>
    <div class="mx-10">
        <info class="alert alert-info flex p-4 flex-row flex-shrink rounded-lg"><img src={info} style="width: 20px;" alt="info">All Posts are organized by date. Stay and scroll a while!</info>
    </div>
    <section>
        <ul class="grid">
            {posts.map((post) => (
                <li class="tile">
                    <div class="rounded-lg shadow-md shadow-gray-300 p-4">
                        <img src={post.frontmatter.heroImage} alt="" class="m-auto p-4" />                     
                        <a href={`/RyanAfterDark/data/${post.frontmatter.urlBase}`} class="font-bold font-secondary">{post.frontmatter.title}</a> <br />
                        <p class="font-bold font-secondary">{post.frontmatter.author}</p>
                        <time datetime={post.frontmatter.pubDate}>
                            {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}
                        </time>
                        <p class="p-4">{post.frontmatter.description}</p>
                    </div>
                </li>
            ))}
        </ul>
    </section>
</Layout>

<style>
.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.tile {
    padding: 50px;
    margin: 50px;
    text-align:left;
}
img {
    width: 350px;
}
</style>