---
import Layout from "./Layout.astro";
import Header from "../components/navBar";
export interface Props {
	content: {
		title: string;
		description: string;
		author: string | undefined;
		pubDate: string;
		updatedDate?: string;
		heroImage: string;
		urlBase: string
	};
}
const {
	content: { title, description, author, pubDate, updatedDate, heroImage, urlBase },
} = Astro.props;
---
<Layout title={title} description={description}>
		<main>
			<article class="p-10">
				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
						class="m-auto"
					/>
				)}
				<h1 class="font-bold font-primary text-3xl p-4 underline underline-offset-1">{title}</h1>
				<h1 class="font-semibold font-primary text-2xl pl-4">{author}</h1>
				{pubDate && <time class="p-4">{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<style>
			hr {
                border-top: 1px solid #DDD;
				margin: 1rem 0;
			}
		</style>
</Layout>